@model FASE_II_DAS_Gestion_de_expedientes_CRUD.Models.Alumno;
@{
    Layout = "_BaseTailwind";
    ViewData["Title"] = "Gestión de Expedientes";
}

<h1 class="font-semibold text-lg p-4 flex items-center  justify-between">
    <a asp-controller="Home" asp-action="Index" class="font-medium text-blue-600 text-sm"><i class="fa-duotone fa-regular fa-arrow-left"></i> Regresar</a>
    Expediente Alumno @Model.AlumnoId
</h1>

<div class="flex items-center justify-between p-4 border-y border-dashed border-[#ddd]">
    <div class="flex items-center justify-between">
        <img src="https://multimarcas.app/usuario.png" class="w-[90px] h-[90px]" />
        <span class="font-medium text-xl ml-4">@Model.Nombre @Model.Apellido</span>
    </div>
    <div>
        <span class="text-2xl font-medium text-blue-600">@Model.Expedientes.Count Materias</span>
    </div>
</div>

<h1 class="font-semibold text-lg p-4 flex items-center  justify-between">
    Expedientes disponibles
    <a asp-controller="Expediente" asp-action="Agregar" asp-route-id="@Model.AlumnoId" class="font-medium text-blue-600 text-sm"><i class="fa-duotone fa-light fa-file-circle-plus"></i> Agregar Nota</a>
</h1>

@if (Model.Expedientes == null || !Model.Expedientes.Any())
{
    <div class="flex items-center justify-center h-[300px]">
        <p class="text-gray-500 italic w-full text-center">No hay expedientes registrados.</p>
        
    </div>
}
else
{
    <div class="flex flex-wrap bg-white p-4">
        @foreach (var exp in Model.Expedientes)
        {
            <div class="w-1/2 p-4">
                <div class="bg-gray-50 shadow-sm shadow-black/30">
                    <div class="flex items-center justify-between">
                        <div><p class="p-4"><strong>Materia:</strong> @exp.Material?.NombreMateria</p></div>
                        <div class="px-4">
                            <a asp-controller="Expediente" asp-action="Editar" asp-route-id="@exp.ExpedienteId" class="text-sm font-medium text-green-500 mr-4"><i class="fa-duotone fa-light fa-pen"></i> Editar</a>
                            <a asp-controller="Expediente" asp-action="Eliminar" asp-route-id="@exp.ExpedienteId" class="text-sm font-medium text-red-500"><i class="fa-duotone fa-light fa-trash"></i> Eliminar</a>
                        </div>
                    </div>
                    <p class="p-4"><strong>Nota Final:</strong> @exp.NotaFinal</p>
                    <p class="bg-yellow-100 text-yellow-800 p-4"><strong>Observaciones:</strong> @exp.Observaciones</p>
                </div>
            </div>
                
            
        }
    </div>
}